{:paths   ["resources" "src"]
 :deps    {org.clojure/clojure            {:mvn/version "1.11.1"}
           org.clojure/data.json          {:mvn/version "2.4.0"}
           com.webauthn4j/webauthn4j-core {:mvn/version "0.20.1.RELEASE"}
           nrepl/nrepl                    {:mvn/version "0.9.0"}}
 :aliases {:test      {:extra-paths ["test" "test-resources"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                                     buddy/buddy         {:mvn/version "2.0.0"}
                                     ring/ring           {:mvn/version "1.9.5"}
                                     compojure/compojure {:mvn/version "1.7.0"}}
                       :main-opts   ["-m" "kaocha.runner"]}
           :run-test  {:extra-paths ["test" "test-resources"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                                     buddy/buddy         {:mvn/version "2.0.0"}
                                     ring/ring           {:mvn/version "1.9.5"}
                                     compojure/compojure {:mvn/version "1.7.0"}}
                       :main-opts   ["-m" "cljwebauthn.sample-app-test"]}
           :kondo     {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}
           :fmt-fix   {:extra-deps {com.jameslaverack/cljfmt-runner
                                    {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                     :sha     "88c9359d34051b539b278fea3146a595eeacdc22"}}
                       :main-opts  ["-m" "cljfmt-runner.fix"]}
           :fmt-check {:extra-deps {com.jameslaverack/cljfmt-runner
                                    {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                     :sha     "88c9359d34051b539b278fea3146a595eeacdc22"}}
                       :main-opts  ["-m" "cljfmt-runner.check"]}
           :kibit     {:extra-deps {tvaughan/kibit-runner {:mvn/version "1.0.1"}}
                       :main-opts  ["-m" "kibit-runner.cmdline"]}
           :pack      {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha"
                                                     :sha     "47ee078edcd6f85353dc5455dc0232c64a46e2ef"}}
                       :main-opts  ["-m"]}
           :deploy    {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "cljwebauthn.jar"]}}}
